<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
        <h1>{{appointment.doctor.get_full_name}}</h1><br>
        <h1>{{appointment.patient.get_full_name}}</h1><br>
        <h1>{{appointment.date}}</h1><br>
        <h1>{{appointment.start_time}}</h1><br>
        <h1>{{appointment.end_time}}</h1><br>
        <h1>{{appointment.status}}</h1><br>
        <h1>{{appointment.reason}}</h1><br>
</body>
</html>