{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>
    Past medical records
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'appointment:view-appointment' %}"><button class="btn btn-dark">BACK</button></a>
  </nav>
</header>

<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h4 class="pt-2 pb-3 text-center">PAST MEDICAL RECORDS</h4>
        </div>
      </div>

      <img class="profile"
        {% if appointment.patient.patprofile.profile_pic %}
        src="{{appointment.patient.patprofile.profile_pic.url}}"
        {% else %}
        src="{% static 'images/default_pic.jpg' %}"
        {% endif %}
        alt="profile-picture" class="image-fluid">

      <body class="bg">
        <div class="table1">
          <div class="table-responsive">
            <table class="table table-hover" style=" width: 49%;">
              <tbody>
                <tr>
                  <th scope="row">NAME</th>
                  <td>{{patient.get_full_name}}</td>
                </tr>
                <tr>
                  <th scope="row">GENDER</th>
                  <td>{{patient.get_gender}} </td>
                </tr>
                <tr>
                  <th scope="row">AGE</th>
                  <td>{{patient.patprofile.get_age}}</td>
                </tr>
              </tbody>
            </table>
            </table>
          </div>
        </div>



        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead">
              <tr>
                <th scope="col">NO</th>
                <th scope="col">DATE</th>
                <th scope="col">DOCTOR</th>
                <th scope="col">DEPARTMENT</th>
                <th scope="col" width="20%">PRESCRIPTION</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
{% for appointment in appointments %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{appointment.date}}</td>
                <td>{{appointment.doctor.get_full_name}}</td>
                <td>{{appointment.doctor.docprofile.department.name}}</td>
                <td>
                    {% for medicine in appointment.prescription.medicine.all %}
                        {% if medicine %}
                            {{medicine}}
                        {% else %}
                            No medicine prescribed
                        {% endif %}
                    {% endfor %}
                </td>
                <td><button class="btn btn-primary">view</button></td>
              </tr>
{% endfor %}
              
            </tbody>
          </table>
          </table>
        </div>
    </div>
  </div>
</div>
<style>
  .bg {
    background: #c7c7c77a;
  }

  .bg-dark {
    background-color: #afadad !important;
  }

  .container {
    max-width: 1140px;
    margin-top: 76px;
  }

  .card {
    border: 0px;
    border-radius: 10px;
  }

  .table .thead {
    color: #fff;
    background-color: #5c5b5d;

  }

  .table td,
  .table th {

    border-top: 0px !important;
    border-bottom: 0px !important;
  }

  .table1 {
    margin-left: 189px;
    margin-top: -149px;
  }
</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>