{% extends 'base.html'%}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <p class="text-center text-primary">This is the home page!</p>

    <!--* can access related tables using parent.childclassname.attribute -->
    <!--* or parent.related_name.attribute -->
    <p class="text-center text-secondary fs-3">{{user.patprofile.dob}}</p>

    {% if user.is_authenticated %}
        <p class="text-center text-success fs-1">Welcome, {{user.get_full_name}}!</p>
        <p class="text-center text-info fs-3">Your gender is {{user.get_gender}}</p>
        {% if user.patprofile.profile_pic %}
            <img src="{{user.patprofile.profile_pic.url}}" alt="profile-picture" class="rounded-circle mx-auto d-block" width="100" height="100">
        {% endif %}
    {% else %}
        <p class="text-center text-danger fs-1">You are not logged in!</p>
    {% endif %}
{% endblock %}