{% extends 'base.html'%}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <p class="text-center text-primary">This is the home page!</p>
    {% if user.is_authenticated %}
        <p class="text-center text-success fs-1">Welcome, {{user.get_full_name}}!</p>
        <p class="text-center text-info fs-3">Your gender is {{user.get_gender}}</p>
    {% else %}
        <p class="text-center text-danger fs-1">You are not logged in!</p>
    {% endif %}
{% endblock %}